* {
	margin: 0;
	padding: 0;
}

nav {
	height: 80px;
	background: #FE7E00;
	border-bottom: 10px solid #F27000;
	position: relative;
	width: 100%;
}
.fa-lemon-o {
	background: #FE7E00;
	float: left;
	display: inline;
	margin-top: 20px;
	margin-left: 60px;
	color: white;
}
nav p {
	float: left;
	display: inline;
	color: white;
	font-family: 'Oxygen', sans-serif;
	margin-top: 20px;
	font-size: 25px;
}
nav p span {
	font-weight: bold;
}
nav p sup {
	font-size: 8px;
}
nav ul {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}
nav ul li {
	display: inline;
	list-style: none;
	padding-right: 20px;
}
nav ul li a {
	color: white;
	text-decoration: none;
}
section {
	height: 490px;
	background: #F5F5F7;
}
.searchRow {
	height: 40px;
	display: block;
}
.searchBox {
	display: inline;
	background: rgba(230,230,230,1);
	width: 50px;
	height: 100%;
}
.fa-search {
	display: inline;
	color: rgba(175,175,175,.75);
	background: rgba(230,230,230,1);
	padding: 0;
	margin: 0;
	position: absolute;
	right: 20px;
}
input {
	display: inline;
	border: none;
	outline: none;
	background: rgba(230,230,230,1);
	color: rgba(175,175,175,.75);
	font-size: 15px;
	font-family: 'Rokkitt', serif;
	float: right;
}

section img {
	width: 400px;
	height: 400px;
	padding: 0 40px;
	float: left;
	margin-left: 150px;
}
.rightOfImage {
	float: left;
}
h1 {
	font-family: 'Oxygen', sans-serif;
	color: #DEC4AC;
	padding: 120px 0 40px 0;
	text-align: left;
	font-size: 30px;
}
.boldOrange {
	color: #FE7E00;
	font-weight: bold;
}
.trademark {
	font-size: 10px;
}
.blue {
	color: #94BEBC;
}
.leftButton, .rightButton {
	height: 40px;
	padding: 10px 40px;
	font-size: 15px;
	font-family: 'Rokkitt', serif;
	color: white;
}
.leftButton {
	background: #FE7E00;
	margin-right: 40px;
}
.rightButton {
	background: #7ACCC8;
}
footer {
	height: 80px;
	background: #7ACCC8;
}